### macOS ###
.DS_Store

### Jetbrains ###
.idea/

### Build ###
.build/
build/
_build/
cmake-build-debug/
cmake-build-release/
cmake-build-relwithdebinfo/
cmake-build-minsize/

### Doxygen ###
html/
latex/

### Python ###
__pycache__/
*.pyc
*.pyd
*.pyo
venv/
.venv/
env/
.env/
dist/